[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "autoload/vim-plug"]
	path = autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "comm-vim-env"]
	path = comm-vim-env
	url = https://github.com/edwardyeh/comm-vim-env.git
