[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "comm-vim-env"]
	path = comm-vim-env
	url = https://github.com/edwardyeh/comm-vim-env.git
