vimrc
pack/
.netrwhist
*.swp
bundle/ctrlp.vim/
bundle/matchit.zip/
bundle/nerdtree/
bundle/surround.vim/
bundle/vim-dirdiff/
bundle/cscope_maps/
bundle/ctags.vim/
bundle/ShowMarks/
bundle/minibufexpl.vim/
bundle/nerdcommenter/
bundle/tabular/
bundle/tagbar/
bundle/vcscommand.vim/
bundle/vim-indent-object/
bundle/vim-surround/
bundle/wokmarks.vim/
bundle/lightline.vim/
bundle/taboo.vim/
